#header
  #name Isaiah Fischer
  #left-icons.icons
    %a{ href: 'http://twitter.com/Rodel30', target: '_blank', title: 'Twitter' }
      = icon('twitter-square')
    %a{ href: 'http://amileinmy.shoes', target: '_blank', title: 'A Mile In My Shoes' }
      = icon('pencil-square')
    %a{ href: 'http://facebook.com/Rodel30', target: '_blank', title: 'Facebook' }
      = icon('facebook-square')
  #right-icons.icons
    %a{ href: 'http://github.com/Rodel30', target: '_blank', title: 'GitHub' }
      = icon('github-square')
    %a{ href: 'https://www.linkedin.com/in/rodel30', target: '_blank', title: 'LinkedIn' }
      = icon('linkedin-square')
    %a{ href: 'mailto:codingcyborg@gmail.com', title: 'Email' }
      = icon('envelope-square')

#spacer

#main
  #text-wrap
    Isaiah began as a PHP developer, co-founding a text-based MMORPG called RebelCamp. After
    that he grew his web development skills into Javascript, HTML, and CSS. Working as a
    freelance developer, he was able to hone his skills. Creating mini games in Javascript,
    as well as creating JS implementations of other games, like
    %a{:href => '/minesweeper.html', :target => '_blank'} Minesweeper
    = '.'
    Now he is a Senior Developer at
    %a{:href => 'http://singlebrook.com', :target => '_blank'} Singlebrook Technology
    , well versed in ColdFusion and Ruby on Rails. He loves to work on games in his free
    time. While most of his personal projects don't make it to public servers, he will never
    stop writing code for fun.