#header
  #name Isaiah Fischer
  #left-icons.icons
    %a{ href: 'https://github.com/Rodel30', target: '_blank', title: 'GitHub' }
      = icon('github-square')
    %a{ href: 'https://www.linkedin.com/in/rodel30', target: '_blank', title: 'LinkedIn' }
      = icon('linkedin-square')
  #right-icons.icons
    %a{ href: 'mailto:codingcyborg@gmail.com', title: 'Email' }
      = icon('envelope-square')
    %a{ href: 'https://ruggedtreewoodworking.com', title: 'Rugged Tree' }
      = icon('hammer')

#spacer

#main
  #text-wrap
    Isaiah began as a PHP developer, co-founding a text-based MMORPG called RebelCamp. After
    that he grew his web development skills into Javascript, HTML, and CSS. Working as a
    freelance developer, he was able to hone his skills. Creating mini games in Javascript,
    as well as creating JS implementations of other games, like
    = succeed "." do
      %a{:href => '/minesweeper/', :target => '_blank'} Minesweeper
    Currently he is a Senior Developer at
    = succeed "," do
      %a{:href => 'https://singlebrook.com', :target => '_blank'} Singlebrook Technology
    where he has been for over a decade. He took on the role of CTO at
    %a{:href => 'https://peerfocus.com', :target => '_blank'} Peerfocus
    when Singlebrook acquired a majority stake in the company. He has a deep knowledge of
    ColdFusion and PostgreSQL and a few years of experience with Ruby on Rails. On the side
    he co-owns a
    %a{:href => 'https://ruggedtreewoodworking.com', :target => '_blank'} woodworking business
    where he spends a couple days each week. Some of his technical skill comes through in
    the shop with building and maintaining a CNC machine and working with the software that
    runs it.